* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: #48C260;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

.carteira {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.email-total {
  align-items: center;
  display:flex;
}
